.container {
  margin: auto;
  width: 20%;
  min-width: 300px;
  height: 50%;
  display: flex;
  flex-flow: row wrap;
  align-content: space-evenly;
}

.road {
  width: 23%;
  height: 130px;
  background-color: gray;
  border-left: dashed;
  border-right: dashed;
  border-color: yellow;
}

.user {
/* From https://www.w3schools.com/cssref/pr_background-position.asp */
/* this code positions users car */
  background-image: url("assets/playerCar.png");
  background-repeat: no-repeat;
  background-position: center;
}

.enemy {
  background-image: url("assets/obstacle.png");
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  margin: auto;
  color: yellow;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

p {
  color: yellow;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}



#score {
  padding-bottom: 0px;
  color: yellow;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

body {
  background-color: black;
}

#game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
}
